// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2021 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@foss.st.com> for STMicroelectronics.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
//#include <dt-bindings/regulator/st,stm32mp13-regulator.h>
#include <dt-bindings/rtc/rtc-stm32.h>
#include "stm32mp131.dtsi"
#include "stm32mp13xf.dtsi"
#include "stm32mp13-pinctrl.dtsi"

&pinctrl {
	fdcan1_pins_x: fdcan1_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('E', 10, AF9)>; /* FDCAN1_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('G', 9, AF9)>; /* FDCAN1_RX */
			bias-disable;
		};
	};

	fdcan1_sleep_pins_x: fdcan1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 10, ANALOG)>, /* FDCAN1_TX */
					 <STM32_PINMUX('G', 9, ANALOG)>; /* FDCAN1_RX */
		};
	};

	fdcan2_pins_x: fdcan2_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('E', 0, AF9)>; /* FDCAN2_RX */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('G', 1, AF9)>; /* FDCAN2_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	fdcan2_sleep_pins_x: fdcan2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 0, ANALOG)>, /* FDCAN2_RX */
					 <STM32_PINMUX('G', 1, ANALOG)>; /* FDCAN2_TX */
		};
	};

	i2c1_pins_x: i2c1_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 8, AF4)>, /* I2C1_SCL */
					 <STM32_PINMUX('E', 8, AF5)>; /* I2C1_SDA */
			bias-disable;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c1_sleep_pins_x: i2c1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 8, ANALOG)>, /* I2C1_SCL */
					 <STM32_PINMUX('E', 8, ANALOG)>; /* I2C1_SDA */
		};
	};

	i2c2_pins_x: i2c2_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 1, AF4)>, /* I2C2_SDA */
					 <STM32_PINMUX('F', 2, AF4)>; /* I2C2_SCL */
			bias-disable;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c2_sleep_pins_x: i2c2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 1, ANALOG)>, /* I2C2_SDA */
					 <STM32_PINMUX('F', 2, ANALOG)>; /* I2C2_SCL */
		};
	};

	i2c3_pins_x: i2c3_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 7, AF5)>, /* I2C3_SDA */
					 <STM32_PINMUX('H', 3, AF4)>; /* I2C3_SCL */
			bias-disable;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c3_sleep_pins_x: i2c3_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 7, ANALOG)>, /* I2C3_SDA */
					 <STM32_PINMUX('H', 3, ANALOG)>; /* I2C3_SCL */
		};
	};

	i2c4_pins_x: i2c4_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 7, AF6)>, /* I2C4_SDA */
					 <STM32_PINMUX('E', 15, AF6)>; /* I2C4_SCL */
			bias-disable;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c4_sleep_pins_x: i2c3-sleep-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 15, ANALOG)>, /* I2C5_SCL */
					 <STM32_PINMUX('B', 7, ANALOG)>; /* I2C5_SDA */
		};
	};

	sdmmc2_d47_pins_a: sdmmc2-d47-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 0, AF10)>, /* SDMMC2_D4 */
				 <STM32_PINMUX('B', 9, AF10)>, /* SDMMC2_D5 */
				 <STM32_PINMUX('C', 6, AF10)>, /* SDMMC2_D6 */
				 <STM32_PINMUX('C', 7, AF10)>; /* SDMMC2_D7 */
			slew-rate = <1>;
			drive-push-pull;
			bias-pull-up;
		};
	};

	sdmmc2_d47_sleep_pins_a: sdmmc2-d47-sleep-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 0, ANALOG)>, /* SDMMC2_D4 */
				 <STM32_PINMUX('B', 9, ANALOG)>, /* SDMMC2_D5 */
				 <STM32_PINMUX('C', 6, ANALOG)>, /* SDMMC2_D6 */
				 <STM32_PINMUX('C', 7, ANALOG)>; /* SDMMC2_D7 */
		};
	};

	i2s2_pins_x: i2s2_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 5, AF5)>, /* I2S2_SDI */
					 <STM32_PINMUX('B', 13, AF5)>, /* I2S2_WS */
					 <STM32_PINMUX('G', 11, AF5)>, /* I2S2_MCK */
					 <STM32_PINMUX('H', 6, AF5)>, /* I2S2_CK */
					 <STM32_PINMUX('H', 10, AF6)>; /* I2S2_SDO */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	i2s2_pins_sleep_x: i2s2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 5, ANALOG)>, /* I2S2_SDI */
					 <STM32_PINMUX('B', 13, ANALOG)>, /* I2S2_WS */
					 <STM32_PINMUX('G', 11, ANALOG)>, /* I2S2_MCK */
					 <STM32_PINMUX('H', 6, ANALOG)>, /* I2S2_CK */
					 <STM32_PINMUX('H', 10, ANALOG)>; /* I2S2_SDO */
		};
	};

	quadspi_pins_x: quadspi_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('D', 11, AF9)>, /* QUADSPI_BK1_IO2 */
					 <STM32_PINMUX('E', 14, AF9)>, /* QUADSPI_BK1_NCS */
					 <STM32_PINMUX('F', 8, AF10)>, /* QUADSPI_BK1_IO0 */
					 <STM32_PINMUX('G', 8, AF11)>, /* QUADSPI_BK1_IO3 */
					 <STM32_PINMUX('G', 15, AF9)>; /* QUADSPI_BK1_IO1 */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('F', 10, AF9)>; /* QUADSPI_CLK */
			bias-disable;
			drive-push-pull;
			slew-rate = <2>;
		};
	};

	quadspi_sleep_pins_x: quadspi_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 11, ANALOG)>, /* QUADSPI_BK1_IO2 */
					 <STM32_PINMUX('E', 14, ANALOG)>, /* QUADSPI_BK1_NCS */
					 <STM32_PINMUX('F', 8, ANALOG)>, /* QUADSPI_BK1_IO0 */
					 <STM32_PINMUX('F', 10, ANALOG)>, /* QUADSPI_CLK */
					 <STM32_PINMUX('G', 8, ANALOG)>, /* QUADSPI_BK1_IO3 */
					 <STM32_PINMUX('G', 15, ANALOG)>; /* QUADSPI_BK1_IO1 */
		};
	};

	spi4_pins_x: spi4_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 10, AF5)>, /* SPI4_NSS */
					 <STM32_PINMUX('D', 1, AF5)>, /* SPI4_MOSI */
					 <STM32_PINMUX('E', 12, AF5)>, /* SPI4_SCK */
					 <STM32_PINMUX('F', 3, AF5)>; /* SPI4_MISO */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	spi4_sleep_pins_x: spi4_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 10, ANALOG)>, /* SPI4_NSS */
					 <STM32_PINMUX('D', 1, ANALOG)>, /* SPI4_MOSI */
					 <STM32_PINMUX('E', 12, ANALOG)>, /* SPI4_SCK */
					 <STM32_PINMUX('F', 3, ANALOG)>; /* SPI4_MISO */
		};
	};

	spi5_pins_x: spi5_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 2, AF5)>, /* SPI5_MOSI */
					 <STM32_PINMUX('E', 4, AF1)>, /* SPI5_MISO */
					 <STM32_PINMUX('F', 6, AF5)>, /* SPI5_NSS */
					 <STM32_PINMUX('G', 10, AF5)>; /* SPI5_SCK */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	spi5_sleep_pins_x: spi5_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 2, ANALOG)>, /* SPI5_MOSI */
					 <STM32_PINMUX('E', 4, ANALOG)>, /* SPI5_MISO */
					 <STM32_PINMUX('F', 6, ANALOG)>, /* SPI5_NSS */
					 <STM32_PINMUX('G', 10, ANALOG)>; /* SPI5_SCK */
		};
	};

	uart5_pins_x: uart5_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 0, AF8)>; /* UART5_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('F', 13, AF8)>; /* UART5_RX */
			bias-disable;
		};
	};

	uart5_idle_pins_x: uart5_idle_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 0, AF8)>; /* UART5_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('F', 13, AF8)>; /* UART5_RX */
			bias-disable;
		};
	};

	uart5_sleep_pins_x: uart5_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 0, ANALOG)>, /* UART5_TX */
					 <STM32_PINMUX('F', 13, ANALOG)>; /* UART5_RX */
		};
	};

	usart2_pins_x: usart2_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 3, AF7)>, /* USART2_RX */
					 <STM32_PINMUX('E', 11, AF2)>; /* USART2_CTS */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('D', 4, AF3)>, /* USART2_RTS */
					 <STM32_PINMUX('F', 11, AF1)>; /* USART2_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart1_pins_x: usart1_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 7, AF7)>, /* USART1_CTS */
					 <STM32_PINMUX('D', 13, AF7)>; /* USART1_RX */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('C', 0, AF7)>, /* USART1_TX */
					 <STM32_PINMUX('C', 2, AF7)>; /* USART1_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart1_idle_pins_x: usart1_idle_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 7, AF7)>, /* USART1_CTS */
					 <STM32_PINMUX('D', 13, AF7)>; /* USART1_RX */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('C', 0, AF7)>, /* USART1_TX */
					 <STM32_PINMUX('C', 2, AF7)>; /* USART1_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart1_sleep_pins_x: usart1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 7, ANALOG)>, /* USART1_CTS */
					 <STM32_PINMUX('C', 0, ANALOG)>, /* USART1_TX */
					 <STM32_PINMUX('C', 2, ANALOG)>, /* USART1_RTS */
					 <STM32_PINMUX('D', 13, ANALOG)>; /* USART1_RX */
		};
	};

	usart2_idle_pins_x: usart2_idle_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 3, AF7)>, /* USART2_RX */
					 <STM32_PINMUX('E', 11, AF2)>; /* USART2_CTS */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('D', 4, AF3)>, /* USART2_RTS */
					 <STM32_PINMUX('F', 11, AF1)>; /* USART2_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart2_sleep_pins_x: usart2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 3, ANALOG)>, /* USART2_RX */
					 <STM32_PINMUX('D', 4, ANALOG)>, /* USART2_RTS */
					 <STM32_PINMUX('E', 11, ANALOG)>, /* USART2_CTS */
					 <STM32_PINMUX('F', 11, ANALOG)>; /* USART2_TX */
		};
	};
};

/ {
	model = "OneKiwi STM32MP131DAE SOM v1.1";
	compatible = "st,stm32mp131dae-som", "st,stm32mp131";

	aliases {
		serial0 = &uart4;
		serial1 = &usart1;
		serial2 = &usart2;
		serial3 = &uart5;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		framebuffer {
			compatible = "simple-framebuffer";
			clocks = <&rcc LTDC_PX>;
			status = "disabled";
		};
	};
	
	clocks {
		clk_ext_audio: clk-ext-audio {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <12000000>;
		};

		clk_ext_sound: clk-ext-sound {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <11289600>;
		};
	};

	memory@c0000000 {
		device_type = "memory";
		reg = <0xc0000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		optee@dd000000 {
			reg = <0xdd000000 0x3000000>;
			no-map;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		user1 {
			label = "user1";
			linux,code = <BTN_1>;
			gpios = <&gpiof 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};

		user2 {
			label = "user2";
			linux,code = <BTN_2>;
			gpios = <&gpioe 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "led1";
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpiog 5 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		led2 {
			label = "led2";
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpioh 12 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		led3 {
			label = "led3";
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpiod 3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		led4 {
			label = "led4";
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};

	vdd: vdd {
		compatible = "regulator-fixed";
		regulator-name = "vdd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vdd_usb: vdd_usb {
		compatible = "regulator-fixed";
		regulator-name = "vdd_usb";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vdd_adc: vdd_adc {
		compatible = "regulator-fixed";
		regulator-name = "vdd_adc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	v1v8: v1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vdd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	/*
	sound: audio {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&codec_dai>;
		simple-audio-card,frame-master = <&codec_dai>;
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,widgets =
					"Microphone", "Microphone Jack",
					"Headphone", "Headphone Jack",
					"Speaker", "Speaker Ext",
					"Line", "Line In Jack";
		simple-audio-card,routing =
				"MIC_IN", "Microphone Jack",
				"Microphone Jack", "Mic Bias",
				"Headphone Jack", "HP_OUT";

		cpu_dai: simple-audio-card,cpu {
			sound-dai = <&i2s2>;
		};

		codec_dai: simple-audio-card,codec {
			sound-dai = <&sgtl5000>;
			bitclock-master;
			frame-master;
			system-clock-frequency = <12000000>;
		};
	};*/

	sound: audio {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "ES8388-SOUND-CARD";
		simple-audio-card,mclk-fs = <256>;
        simple-audio-card,bitclock-master = <&cpu_dai>;
        simple-audio-card,frame-master = <&cpu_dai>;

		simple-audio-card,widgets =
			"Headphone", "Headphone Jack",
			"Microphone", "Mic Jack";
		simple-audio-card,routing =
			"Headphone Jack",	"LOUT1",
			"Headphone Jack",	"ROUT1",
			"LINPUT1", "Mic Jack",
			"RINPUT1", "Mic Jack";

		cpu_dai:simple-audio-card,cpu {
				system-clock-frequency = <11289600>;
				sound-dai = <&i2s2>;
		};

		codec_dai:simple-audio-card,codec {
				sound-dai = <&es8388>;
				system-clock-frequency = <11289600>;
		};
	};

	/*
	wake_up {
		compatible = "gpio-keys";
		status = "okay";

		button {
			label = "wake-up";
			linux,code = <KEY_WAKEUP>;
			interrupts-extended = <&optee 0>;
			status = "okay";
		};
	};*/
};

/*
&adc_1 {
	pinctrl-names = "default";
	pinctrl-0 = <&adc1_usb_cc_pins_a>;
	vdda-supply = <&vdd_adc>;
	vref-supply = <&vdd_adc>;
	status = "okay";
	
	adc1: adc@0 {
		status = "okay";
		channel@6 {
			reg = <6>;
			st,min-sample-time-ns = <5000>;
		};
		channel@12 {
			reg = <12>;
			st,min-sample-time-ns = <5000>;
		};
	};
};*/

&arm_wdt {
	timeout-sec = <32>;
	status = "okay";
};

&crc1 {
	status = "okay";
};

&cryp {
	status = "okay";
};

/*
&dcmipp {
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&dcmipp_pins_a>;
	pinctrl-1 = <&dcmipp_sleep_pins_a>;
};*/

&dts {
	status = "okay";
};

&i2s2 {
	//#clock-cells = <0>;
	//clocks = <&rcc SPI2>, <&rcc SPI2_K>, <&scmi_clk CK_SCMI_PLL3_Q>, <&scmi_clk CK_SCMI_PLL3_R>;
	//clock-names = "pclk", "i2sclk", "x8k", "x11k";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2s2_pins_x>;
	pinctrl-1 = <&i2s2_pins_sleep_x>;
	#sound-dai-cells = <0>;
	//i2s-ioswp;
	status = "okay";

    //i2s2_port: port {
        //i2s2_endpoint: endpoint {
            //remote-endpoint = <&sgtl5000_endpoint>;
			//remote-endpoint = <&es8388_endpoint>;
        //};
    //};
};

&i2c1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c1_pins_x>;
	pinctrl-1 = <&i2c1_sleep_pins_x>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins_x>;
	pinctrl-1 = <&i2c2_sleep_pins_x>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c3_pins_x>;
	pinctrl-1 = <&i2c3_sleep_pins_x>;
	status = "okay";
};

&i2c4 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c4_pins_x>;
	pinctrl-1 = <&i2c4_sleep_pins_x>;
	i2c-scl-rising-time-ns = <300>;
	i2c-scl-falling-time-ns = <300>;
	clock-frequency = <400000>;
	status = "okay";
	/* spare dmas for other usage */
	/delete-property/dmas;
	/delete-property/dma-names;

	/*
	sgtl5000: audio-codec@a {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "fsl,sgtl5000";
		reg = <0xa>;
		VDDIO-supply = <&vdd>;
		VDDA-supply = <&vdd>;
		VDDD-supply = <&v1v8>;
		clocks = <&clk_ext_audio>;
		port {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
            port@0 {
                reg = <0>;
                sgtl5000_endpoint: endpoint {
					remote-endpoint = <&i2s2_endpoint>;
                };
		   };
		};
	};*/

	es8388: es8328@11 {
		compatible = "everest,es8388";
		clocks = <&clk_ext_sound>;
		clock-names = "mclk";
		#sound-dai-cells = <0>;
		reg = <0x11>;
	};

};

/*
&m_can1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&fdcan1_pins_x>;
	pinctrl-1 = <&fdcan1_sleep_pins_x>;
	status = "okay";
};*/

/*
&m_can2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&fdcan2_pins_x>;
	pinctrl-1 = <&fdcan2_sleep_pins_x>;
	status = "okay";
};*/

&qspi {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&quadspi_pins_x>;
	pinctrl-1 = <&quadspi_sleep_pins_x>;
	status = "okay";
};

&rtc {
	st,lsco = <RTC_OUT2_RMP>;
	pinctrl-0 = <&rtc_out2_rmp_pins_a>;
	pinctrl-names = "default";
	status = "okay";
};

&sdmmc1 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_b4_pins_a &sdmmc1_clk_pins_a>;
	pinctrl-1 = <&sdmmc1_b4_od_pins_a &sdmmc1_clk_pins_a>;
	pinctrl-2 = <&sdmmc1_b4_sleep_pins_a>;
	cd-gpios = <&gpioa 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	disable-wp;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&vdd>;
	status = "okay";
};

/* eMMC */
&sdmmc2 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc2_b4_pins_a &sdmmc2_d47_pins_a &sdmmc2_clk_pins_a>;
	pinctrl-1 = <&sdmmc2_b4_od_pins_a &sdmmc2_d47_pins_a &sdmmc2_clk_pins_a>;
	pinctrl-2 = <&sdmmc2_b4_sleep_pins_a &sdmmc2_d47_sleep_pins_a>;
	non-removable;
	no-sd;
	no-sdio;
	broken-cd;
	st,neg-edge;
	bus-width = <8>;
	vmmc-supply = <&vdd>;
	vqmmc-supply = <&vdd>;
	mmc-ddr-3_3v;
	status = "okay";
};

&spi4 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi4_pins_x>;
	pinctrl-1 = <&spi4_sleep_pins_x>;
	status = "okay";
};

&spi5 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi5_pins_x>;
	pinctrl-1 = <&spi5_sleep_pins_x>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default", "sleep", "idle";
	pinctrl-0 = <&uart4_pins_a>;
	pinctrl-1 = <&uart4_sleep_pins_a>;
	pinctrl-2 = <&uart4_idle_pins_a>;
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&uart5_pins_x>;
	pinctrl-1 = <&uart5_idle_pins_x>;
	pinctrl-2 = <&uart5_sleep_pins_x>;
	status = "okay";
};

&usart1 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&usart1_pins_x>;
	pinctrl-1 = <&usart1_idle_pins_x>;
	pinctrl-2 = <&usart1_sleep_pins_x>;
	status = "okay";
};

&usart2 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&usart2_pins_x>;
	pinctrl-1 = <&usart2_idle_pins_x>;
	pinctrl-2 = <&usart2_sleep_pins_x>;
	status = "okay";
};

&usbh_ehci {
	phys = <&usbphyc_port0>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&usbotg_hs {
	phys = <&usbphyc_port1 0>;
	phy-names = "usb2-phy";
	usb-role-switch;
	status = "okay";
};

&usbphyc {
	status = "okay";
};

&usbphyc_port0 {
	phy-supply = <&vdd_usb>;
	st,current-boost-microamp = <1000>;
	st,decrease-hs-slew-rate;
	st,tune-hs-dc-level = <2>;
	st,enable-hs-rftime-reduction;
	st,trim-hs-current = <11>;
	st,trim-hs-impedance = <2>;
	st,tune-squelch-level = <1>;
	st,enable-hs-rx-gain-eq;
	st,no-hs-ftime-ctrl;
	st,no-lsfs-sc;
};

&usbphyc_port1 {
	phy-supply = <&vdd_usb>;
	st,current-boost-microamp = <1000>;
	st,decrease-hs-slew-rate;
	st,tune-hs-dc-level = <2>;
	st,enable-hs-rftime-reduction;
	st,trim-hs-current = <11>;
	st,trim-hs-impedance = <2>;
	st,tune-squelch-level = <1>;
	st,enable-hs-rx-gain-eq;
	st,no-hs-ftime-ctrl;
	st,no-lsfs-sc;
};
