// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2019 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@st.com> for STMicroelectronics.
 */

/dts-v1/;

#include "stm32mp157.dtsi"
#include "stm32mp15xc.dtsi"
#include "stm32mp15-pinctrl.dtsi"
#include "stm32mp15xxac-pinctrl.dtsi"
#include "stm32mp157c-thatico.dtsi"
#include "stm32mp157c-thatico-scmi.dtsi"
#include "stm32mp157c-thatico-pin.dtsi"
#include <dt-bindings/rtc/rtc-stm32.h>

/ {
	model = "OneKiw STM32MP157C";
	compatible = "st,stm32mp157c-thatico", "st,stm32mp157";

	aliases {
		//ethernet0 = &ethernet0;
		//serial3 = &usart2;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		stdout-path = "serial0:115200n8";

		framebuffer {
			compatible = "simple-framebuffer";
			clocks = <&rcc LTDC_PX>, <&rcc DSI>, <&rcc DSI_PX>;
			status = "okay";
		};
	};

	hdmi {
		compatible = "hdmi-connector";
		ddc-i2c-bus = <&i2c2>;
		label = "hdmi";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&lt8912_hdmi_out>;
			};
		};
	};
};

&cryp1 {
	status = "okay";
};

&dsi{
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		/*
		port@0 {
			reg = <0>;
			dsi_in: endpoint {
				remote-endpoint = <&ltdc_ep0_out>;
			};
		};*/

		port@1 {
			reg = <1>;
			dsi_out: endpoint {
				data-lanes = <0 1>;
				remote-endpoint = <&lt8912_in>;
				attach-bridge;
			};
		};
	};
};

&i2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins_x>;
	pinctrl-1 = <&i2c2_sleep_pins_x>;
	i2c-scl-rising-time-ns = <100>;
	i2c-scl-falling-time-ns = <7>;
	status = "okay";
	/delete-property/dmas;
	/delete-property/dma-names;

	mipi_dsi_hdmi: lt8912b@48 {
		compatible = "lontium,lt8912b";
		reg = <0x48>;
		//ddc-i2c-bus = <&i2c2>;
		reset-gpios = <&gpioh 10 GPIO_ACTIVE_LOW>;
		hpd-gpios = <&gpioh 15 GPIO_ACTIVE_HIGH>;
		//swap-mipi-pn;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				lt8912_in: endpoint {
					data-lanes = <0 1>;
					remote-endpoint = <&dsi_out>;
				};
			};

			port@1 {
				reg = <1>;
				lt8912_hdmi_out: endpoint {
					remote-endpoint = <&hdmi_connector_in>;
				};
			};
		};
	};
};

&rtc {
	st,lsco = <RTC_OUT2_RMP>;
	pinctrl-0 = <&rtc_out2_rmp_pins_a>;
	pinctrl-names = "default";
};

/* micro SD */
&sdmmc1 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_b4_pins_a>;
	pinctrl-1 = <&sdmmc1_b4_od_pins_a>;
	pinctrl-2 = <&sdmmc1_b4_sleep_pins_a>;
	cd-gpios = <&gpioe 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	disable-wp;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&v3v3>;
	status = "okay";
};

/* eMMC */
&sdmmc2 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc2_b4_pins_a &sdmmc2_d47_pins_x>;
	pinctrl-1 = <&sdmmc2_b4_od_pins_a &sdmmc2_d47_pins_x>;
	pinctrl-2 = <&sdmmc2_b4_sleep_pins_a &sdmmc2_d47_sleep_pins_x>;
	non-removable;
	no-sd;
	no-sdio;
	st,neg-edge;
	bus-width = <8>;
	vmmc-supply = <&v3v3>;
	vqmmc-supply = <&vdd>;
	mmc-ddr-3_3v;
	status = "okay";
};

